:root {
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
  --background-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
}

.theme__dark .header__theme-button_type_dark::before {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
}

.content {
  font-family: STIX Two Text;
  color: #312A4E;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  text-align: center;
  font-size: 120px;
  margin-top: min(9%, 1440px);
  margin-bottom: min(0.5%, 1440px);
}

.header__title {
  color: #312A4E;
  text-align: center;
  font-family: STIX Two Text;
  font-size: 120px;
  font-weight: 600;
  line-height: 100%;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-top: min(10%, 360px);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
  list-style-type: none;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  margin-right: min(7%, 1440px);
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  color: currentColor;
  font-family: Raleway;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  list-style-type: none;
}

.header__theme-button_is-active {
  font-weight: 700;
  list-style-type: none;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(-60% + 18px);
  block-size: 0.6ch;
  background-color: #FFAB6B;
  inset-block-end: 0.3ch;
  list-style-type: none;
}

.header__theme-button:hover {
  text-decoration: underline;
  list-style-type: none;
}

.content__title {
  color: #312A4E;
  text-align: center;
  font-family: STIX Two Text;
  font-size: 30px;
  font-weight: 650;
  line-height: 120%;
  font-size: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  margin-top: min(6%, 360px);
  margin-bottom: min(2.5%, 360px);
}

.content__text-block {
  font-weight: 100;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  text-align: start;
  width: 1460px;
  font-family: Raleway, sans-serif;
  margin-left: min(3.5%, 360px);
  line-height: 130%;
  margin-top: min(1%, 1440px);
}

.content__quotation {
  font-weight: 100;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  text-align: start;
  width: 1300px;
  font-family: Raleway, sans-serif;
  margin-left: min(0%, 360px);
  margin-top: min(1.5%, 360px);
}

.content__quotation__column {
  font-weight: 100;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  text-align: start;
  width: 980px;
  font-family: Raleway, sans-serif;
  margin-left: min(22.5%, 360px);
  margin-top: min(1.5%, 360px);
  margin-bottom: min(1.5%, 360px);
  column-count: 1;
  line-height: 265%;
  font-style: italic;
}

.content__quotation__icons {
  width: 1300px;
}

.content__text-block__marker {
  font-weight: 100;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  text-align: start;
  width: 1460px;
  font-family: Raleway, sans-serif;
  margin-left: min(10%, 435px);
  line-height: 180%;
}

li {
  list-style-image: url(/images/marker-light.svg);
  background-repeat: no-repeat;
}

.icon__search {
  color: #000;
}

.content__text-block_type_first-lettered::first-letter {
  background-color: #FFAB6B;
  font-weight: 700;
  padding-right: 4px;
  margin-right: min(0.5%, 1440px);
  font-size: 32px;
}

.content__figure {
  margin-top: min(5%, 360px);
  margin-bottom: min(5%, 360px);

}

.content__picture {
  width: 1530px;
  height: 845px;
  position: relative;
  margin-top: min(0.5%, 1440px);
  margin-left: min(-3%, 1500px);

}

.content__picture-caption {
  padding-top: min(1.5%, 1440px);
  padding-bottom: min(1.5%, 1440px);
  text-align: center;
  border-bottom: 1px solid #312A4E;
}

.content__card {
  aspect-ratio: 4/3;
  margin-top: min(4.5%, 1294px);
  border: 1px solid #312A4E;
  width: 1294px;
  margin-left: min(5%, 1294px);
}

.content__card-title {
  margin-top: min(35%, 1294px);
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(12.3% + 8px);
  block-size: 0.5ch;
  background-color: #FFAB6B;
  inset-block-end: -69ch;
  inset-inline-start: 780px;
}

.header__logo {
  margin-left: min(7%, 1440px);
}

.footer__copyright {
  margin-top: min(0.5%, 1440px);
  margin-left: min(47%, 1440px);
  margin-bottom: min(3%, 1440px);
  padding-top: min(2.5%, 1440px);
  font-size: 18px;
}

.footer {
  border-top: 1px solid #312A4E;
  margin-top: min(9%, 1440px);
}
