:root {
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
  --background-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
}

.content {
  font-family: var(--accent-font, 'STIX Two Text');
  color: var(--text-color, #312A4E);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}
